
*.vsidx
*.db
*.db-shm
*.db-wal
*.user
*.tlog
*.idb
*.pdb
*.exe
*.obj
*.log
*.ilk
*.recipe
*.filters
Lists/Lists/Lists.vcxproj
*.sln
Lists/.vs/Lists/v17/ipch/AutoPCH/de44d0c97fd8b964/MYLIST.ipch
Lists/.vs/Lists/v17/Browse.VC.opendb
Lists/.vs/Lists/v17/.suo
